{
  "presets": ["@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "fileName": true,
        "minify": false,
        "pure": true
      }
    ]
  ]
}