@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, light --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

:root {
  --font-body: 'Red Hat Display', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-heading: 'Marko One', system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body) !important;
}

p {
  font-size: 18px;
}

section {
  scroll-margin-top: 150px;
}

h1, h2, h3, h4, h5, h6, .card-title, .card-subtitle{
  font-family: var(--font-heading)!important;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

h4{
  font-size: 24px;
}

h5{
  font-size: 20px;
}

h6{
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.btn{
  font-weight: 400 !important;
}

.skip-link{
  position: absolute;
  top: -40px;
  left: 0;
  background: transparent;
  color: currentColor;
  padding: 8px 12px;
  z-index: 1000;
  text-decoration: none;
  
  clip: react(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.skip-link:focus{
  top: 0;
  clip: auto;
  clip-path: none;
  height: auto;
  width: auto;
  overflow: auto;
}


